{% extends "homebase.html" %}
{% block title %}About Us {{ setting.company }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block body %}
   <div id="all">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li aria-current="page" class="breadcrumb-item active">About Us</li>
                            </ol>
                        </nav>
                    </div>



                    <div class="col-lg-12">
                        <div id="text-page" class="box">
                              {{ setting.aboutus|safe }}
                        </div>
                    </div>
                    <!-- /.col-lg-9-->

                </div>
            </div>
        </div>
    </div>

{% endblock %}
