<br>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Pages</h4>
                <ul class="list-unstyled">
                    <li><a href="/aboutus">About us</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="/contactus">Contact us</a></li>
                </ul>
                <hr>
                <h4 class="mb-3">User section</h4>
                <ul class="list-unstyled">
                    <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                    <li><a href="#">Regiter</a></li>
                </ul>
            </div>
            <!-- /.col-lg-3-->
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Top categories</h4>
               <ul class="nav nav-pills flex-column category-menu">
            {% load mptt_tags %}
            {% recursetree category %}
                <li><a class="nav-link" >{{ node.title }}</a>
                    <ul class="list-unstyled">
                        {% if not node.is_leaf_node %}
                            {% for i in node.children.all %}
                                <li><a class="nav-link" href="/category/{{ i.id }}/{{ i.slug }}"> > {{ i.title }}</a></li>
                            {% endfor %}

                        {% endif %}
                    </ul>
                </li>
            {% endrecursetree %}

        </ul>
            </div>
            <!-- /.col-lg-3-->
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Where to find us</h4>
                <p>Karabük Üniversitesi Demir-Çelik Kampüsü Mühendislik Fakültesi Bilgisayar Mühendisliği Bölümü 78050 KARABÜK</p><a href="/contact">Go to contact page</a>
                <hr class="d-block d-md-none">
            </div>
            <!-- /.col-lg-3-->
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Get the news</h4>
                <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control"><span class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary">Subscribe!</button></span>
                    </div>
                    <!-- /input-group-->
                </form>
                <hr>
                <h4 class="mb-3">Stay in touch</h4>
                <p class="social"><a href="https://www.facebook.com/kbubilgisayar" class="facebook external"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/krbkuni" class="twitter external"><i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/karabukuniv/" class="instagram external"><i class="fa fa-instagram"></i></a></p>
            </div>
            <!-- /.col-lg-3-->
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container-->
</div>
<!-- /#footer-->
<!-- *** FOOTER END ***-->
<!--
    *** COPYRIGHT ***
    _________________________________________________________
    -->
<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-2 mb-lg-0">
                <p class="text-center text-lg-left">©2020 Nesim.</p>
            </div>
            <div class="col-lg-6">
                <p class="text-center text-lg-right">Template design by <a href="https://bootstrapious.com/p/big-bootstrap-tutorial">Bootstrapious</a>
                    <!-- If you want to remove this backlink, pls purchase an Attribution-free License @ https://bootstrapious.com/p/obaju-e-commerce-template. Big thanks!-->
                </p>
            </div>
        </div>
    </div>
</div>
<!-- *** COPYRIGHT END ***-->

