{% load static %}
<header class="header mb-5">
    <!--
    *** TOPBAR ***
    _________________________________________________________
    -->
    <div id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offer mb-3 mb-lg-0"><a href="#" class="btn btn-success btn-sm">Offer of the day</a><a href="#" class="ml-1">Get flat 35% off on orders over $50!</a></div>
                <div class="col-lg-6 text-center text-lg-right">
                    <ul class="menu list-inline mb-0">
                        {% if user.id is not None %}
                            <li class="list-inline-item"><a href="/user" >
                                <img src="{{ user.image.url }}" height="30">
                                {{ user.first_name }}</a></li>
                            <li class="list-inline-item"><a href="/logout/" >Logout</a></li>
                        {% else %}
                            <li class="list-inline-item"><a href="/login/" >Login</a></li>
                            <li class="list-inline-item"><a href="/register/">Register</a></li>
                            <li class="list-inline-item"><a href="/contactus/">Contact</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- *** TOP BAR END ***-->


    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container"><a href="/" class="navbar-brand home"><img src="{% static 'img/obaju_logo.png'%}" alt="Obaju logo" class="d-none d-md-inline-block"><img src="{% static 'img/logo-small.png'%}" alt="Obaju logo" class="d-inline-block d-md-none"><span class="sr-only">Obaju - go to homepage</span></a>
            <div class="navbar-buttons">
                <button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
                <button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></button><a href="basket.html" class="btn btn-outline-secondary navbar-toggler"><i class="fa fa-shopping-cart"></i></a>
            </div>
            <div id="navigation" class="collapse navbar-collapse">


                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
                    <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Men<b class="caret"></b></a>
                        <ul class="dropdown-menu megamenu">

                            {% load mptt_tags %}

                            <li>
                                <div class="row">

                                    {% recursetree category %}
                                        <div class="col-md-6 col-lg-3">
                                            <h5>{{ node.title }}</h5>
                                            <ul class="list-unstyled mb-3">
                                                {% if not node.is_leaf_node %}
                                                    {% for i in node.children.all %}
                                                        <li class="nav-item"><a href="/category/{{ i.id }}/{{ i.slug }}" class="nav-link"> {{ i.title }}</a></li>

                                                    {% endfor %}

                                                {% endif %}
                                            </ul>
                                        </div>

                                    {% endrecursetree %}
                                </div>
                            </li>


                        </ul>
                    </li>
                    <li class="nav-item"><a href="/aboutus" class="nav-link">About Us</a></li>
                    <li class="nav-item"><a href="/contactus" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="/references" class="nav-link">References</a></li>


                </ul>
                <div class="navbar-buttons d-flex justify-content-end">
                    <!-- /.nav-collapse-->
                    <div id="search-not-mobile" class="navbar-collapse collapse"></div><a data-toggle="collapse" href="#search" class="btn navbar-btn btn-primary d-none d-lg-inline-block"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <script>

        $(function() {
            $("#query").autocomplete({
                source: "/search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });

        function AutoCompleteSelectHandler(event, ui)
        {
            var selectedObj = ui.item;
        }

    </script>
    <div id="search" class="collapse">
        <div class="container">
            <form role="search" class="ml-auto" action="/search/" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input id="query" type="text" name="query" placeholder="Search" class="form-control">
                    <div class="input-group-append">





                        <select  class="form-control" name="catid">
                            <option value="0">All Categories</option>
                            {% load mptt_tags %}
                            {% recursetree category %}
                                {% if  node.is_leaf_node %}
                                    <option value="{{node.id}}">{{ node.title }}</option>
                                {% endif %}
                                {% if not node.is_leaf_node %}
                                    <optgroup label="{{ node.title }}">
                                        {{ children }}
                                    </optgroup>
                                {% endif %}
                            {% endrecursetree %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>