<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Note Sharing Site{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="author" content="Nesim YILDIRIM" />


    {% block head %} {% include 'head.html' %}{% endblock %}

</head>
<body>
{% block header %}{% include 'header.html' %}{% endblock %}

{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}

{% block body %}{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}

{% block javascript %} {% include 'javascript.html' %}{% endblock %}

</body>
</html>