{% extends "homebase.html" %}
{% block title %}{{ setting.title }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block body %}
    {% block slider %}{% include 'slider.html' %}{% endblock %}

    <!--
       *** HOT PRODUCT SLIDESHOW ***
       _________________________________________________________
       -->
    <div id="hot">
        <div class="box py-4" style="background: #555">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-0">Notes</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="product-slider owl-carousel owl-theme">
                {% for rs in dayNotes%}
                    <div class="item">

                        <div class="product" style="height: 270px;">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front"><a href="/note/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt="" class="img-fluid" style="width: 270px;hight:200px;"></a></div>
                                    <div class="back"><a href="/note/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt="" class="img-fluid" style="width: 270px;hight:200px;"></a></div>
                                </div>
                            </div><a href="/note/{{ rs.id }}/{{ rs.slug }}" class="invisible"><img src="{{ rs.image.url }}" alt="" class="img-fluid" style="width: 270px;hight:200px;"></a>
                            <br>
                            <div class="text">
                                <h3><a href="/note/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }} </a></h3>
                                <p class="price">
                                    {{ rs.user.first_name }} {{ rs.user.last_name}}
                                </p>
                            </div>



                        </div>

                        <!-- /.product-->
                    </div>
                {% endfor %}

            </div>
            <!-- /.container-->
        </div>
    </div>
    <div id="hot">
        <div class="box py-4" style="background: #555">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-0">Last Notes</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="product-slider owl-carousel owl-theme">
                {% for rs in lastNotes%}
                    <div class="item">

                        <div class="product" style="height: 270px;">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front"><a href="/note/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt="" class="img-fluid" style="width: 270px;hight:200px;"></a></div>
                                    <div class="back"><a href="/note/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt="" class="img-fluid" style="width: 270px;hight:200px;"></a></div>
                                </div>
                            </div><a href="/note/{{ rs.id }}/{{ rs.slug }}" class="invisible"><img src="{{ rs.image.url }}" alt="" class="img-fluid" style="width: 270px;hight:200px;"></a>
                            <br>
                            <div class="text">
                                <h3><a href="/note/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }} </a></h3>
                                <p class="price">
                                    {{ rs.user.first_name }} {{ rs.user.last_name}}
                                </p>
                            </div>
                            <!-- /.ribbon-->
                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>

                        </div>

                        <!-- /.product-->
                    </div>
                {% endfor %}

            </div>
            <!-- /.container-->
        </div>
        <!-- /#hot-->
        <!-- *** HOT END ***-->
    </div>

    <div id="hot">

        <div class="box py-4" style="background: #555">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-0">Picked For you</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="product-slider owl-carousel owl-theme">
                {% for rs in randomNote %}
                    <div class="item">

                        <div class="product">

                            <a href="/note/{{ rs.id }}/{{ rs.slug }}" class="col-md-3"><img src="{{ rs.image.url }}" alt=""   class="img img-fluid" style="height: 75px"></a>
                            <div class="text">
                                <h3>{{ rs.title }}</h3>
                                <p class="price">{{ rs.Category.title }}</p>

                            </div>

                        </div>


                    </div>
                {% endfor %}

            </div>

        </div>
    </div>


{% endblock %}
