<div class="span2" >
    <aside class="left-sidebar">

        <div class="widget">
            <h5 class=" btn-theme btn-large e_tada">Categories</h5>
            <ul class="cat">
                <li><i class="icon-angle-right"></i><a href="#">Web design</a></li>
                <li><i class="icon-angle-right"></i><a href="#">Online business</a></li>
                <li><i class="icon-angle-right"></i><a href="#">Marketing strategy</a></li>
                <li><i class="icon-angle-right"></i><a href="#">Technology</a></li>
                <li><i class="icon-angle-right"></i><a href="#">About finance</a></li>
            </ul>
        </div>
    </aside>
</div>