<div class="row" >
    <div class="span10">

        <section id="featured">
            <!-- start slider -->
            <div id="da-slider" class="da-slider">

{% for rs in sliderdata %}

                <div class="da-slide">
                    <h2>{{ k.title }}</h2>
                    <p>{{ rs.description }}</p>
                    <a href="/note/{{ k.id }}/{{ k.slug }}" class="da-link">Read more</a>
                    <div class="da-img">
                        <img src="{{ rs.image.url }} "/>
                    </div>
                </div>
 {% endfor %}


                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>
            </div>
            <!-- end slider -->
        </section>

    </div>
</div>