<div class="col-lg-3">
    <!--
    *** CUSTOMER MENU ***
    _________________________________________________________
    -->
    <div class="card sidebar-menu">
        <div class="card-header">
            <h3 class="h4 card-title">User Menu</h3>
        </div>
        <div class="card-body">
            <p class="text-center lead"><img class="rounded-circle img-fluid" alt="" src=" {{ profile.image.url }} {{ user.userprofile.image.url }} " style="height: 150px">
            <br><br>

            </p>
            <ul class="nav nav-pills flex-column">
                <a href="/user" class="nav-link "><i class="fa fa-user"></i> My Profile</a>
                <a href="/user/comments" class="nav-link"><i class="fa fa-comment"></i> My Comments</a>
                <a href="/user/car/" class="nav-link"><i class="fa fa-first-order"></i>My Notes</a>
                <a href="/logout" class="nav-link"><i class="fa fa-sign-out"></i> Logout</a></ul>
        </div>
    </div>
    <!-- /.col-lg-3-->
    <!-- *** CUSTOMER MENU END ***-->
</div>