{% extends "homebase.html" %}
{% block title %}{{ user.first_name }}'s comments{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block body %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">My account</li>
                        </ol>
                    </nav>
                </div>

                {% include 'user_menu.html' %}


                <div class="col-lg-9">
                    <div class="box">

                        <h1><a>Comments</a></h1>

                        <div class="table-responsive">
                                <table class="table">
                            <thead>
                            {% if messages %}
                                {% for message in messages %}
                                    <div id=" sendmessage " class="alert alert-{{ message.tags }}" ROLE="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <tr>
                                <th>Note</th>
                                <th>Rate</th>
                                <th>Subject</th>
                                <th>Comment</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Detail</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td nowrap> <a href="/note/{{ comment.note.id }}/{{ comment.note.slug }}">{{ comment.note.title }}</a></td>
                                    <td>{{ comment.rate }}</td>
                                    <td>{{ comment.subject }}</td>
                                    <td>{{ comment.comment }}</td>
                                    <td>{{ comment.status }}</td>
                                    <td>{{ comment.create_at}}</td>
                                    <td nowrap> <a class="btn btn-danger" href="/user/deletecomment/{{ comment.id }}" onclick="return confirm('Will be delete ! Are you sure?')">Delete</a></td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>




                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
